@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'm5x7';
  src: url('/fonts/m5x7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 20px;
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'm5x7', "Trebuchet MS", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  image-rendering: pixelated;
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.35);
    background-clip: padding-box;
  }
}