@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'm5x7';
  src: url('/fonts/m5x7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    font-family: 'm5x7', Arial, system-ui, sans-serif;
    font-size: 32px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

